
<html>
    <head>
        <title>Files in the Directory</title>
    </head>
    <body style="max-width: max-content; margin: auto; margin-top: 100px">
        <h1 style="color: red; font-family: Arial, Helvetica, sans-serif;">Files in the Directory</h1>
        <ul>
            {% for file in files %}
            <a style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: larger;" href="http://127.0.0.1:5000/static/img/{{file}}"><li>{{ file }}</li></a>
            <br>
            {% endfor %}
        </ul>
        <br><br>
        <hr>
        <br><br><br>
        <a style="color: black;" href="http://127.0.0.1:5000"><button style="height:40px; width:350px;" type="button">Back to upload</button></a>   
    </body>
</html>